.App {
  padding-top: 5rem;
  min-height: 100vh;
  background: slategray;
}

.loading-text {
  text-align: center;
  color: #ffffff;
}

/* Route Link */
.route-link {
  text-decoration: none;
  color: gray;
}

.route-link:hover {
  text-decoration: none;
  color: #ef5350;
}

/* Utility CSS */
.capitalize {
  text-transform: capitalize;   
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}